*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #e99aa1;
    color: #975a43;
    display: flex;
    justify-content:space-around;
    align-items: center;
   padding: 24px 0;
}
.cabeçalho-imagem{
    width: 15%;

}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.objetivo-imagem{
    width: 25%;
}
.objetivo{
    background-image: linear-gradient(#e99aa1,#F9DBDC);
    color: white;
}
