*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Philosopher', sans-serif;
}
header{
    background-color: #e99aa1;
    color: #975a43;
    display: flex;
    justify-content:space-around;
    align-items: center;
   padding: 24px 0;
}
.cabeçalho-imagem{
    width: 15%;

}
.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.objetivo-imagem{
    width: 25%;
}
.objetivo{
    background-image: linear-gradient(#e99aa1,#ffd8d8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.objetivo-div-conteudo{
    width: 35%;
}
.objetivo-titulo{
    padding: 24px 0;
}
.decomoveis-imagem{
    width: 150px;
}
.decomoveis-icone{
    width: 24px;
}
.decomoveis-div{
    text-align: center;
}
.decomoveis-título{
text-align: center;
padding: 50px 0;
}
.decomoveis-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}
